DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

NEXTAUTH_SECRET=
STACKBY_SECRET_KEY=
STACKBY_BASE_URL=

CACHE_ENABLED=FALSE
CACHE_TTL=28800
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

FLAGSMITH_SERVER_KEY=
NODE_ENV=development